.section-about {
  background-color: $color-grey-light-1;
  padding: 25em 0;
  // negative moves up
  // header - 95vh and cover is 75vh = 20vh
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  /* top left to right bottom */
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;

  //moving background up
  margin-top: -10rem;

  //tilted
  transform: skewY(-7deg);

  // choosing all direct children to section-features
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25em 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;
  // to move video background - components - bg-video
  position: relative;
}


.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  // 105deg - angling y-axis - left to right - divider
  // color white at 90% fill, takes over 50%;
  // transparent background covers other 50%;
  // covered with image background
  background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 50%, 
                                    transparent 50%),
                                    url(../img/nat-10.jpg);
  // 100% = cover
  background-size: 100%;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
