.section-about {
  background-color: $color-grey-light-1;
  padding: 25em 0;
  // negative moves up
  // header - 95vh and cover is 75vh = 20vh
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  /* top left to right bottom */
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;

  //moving background up
  margin-top: -10rem;

  //tilted
  transform: skewY(-7deg);

  // choosing all direct children to section-features
  & > * {
    transform: skewY(7deg);
  }
}