@mixin clearfix {
  &::after {
    // we dont want to see element on this page
    content: "";
    display: table;
    //clear both float left and right
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}