/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 10px/16px = 62.5% */
    /* Unlike 10px, % allow users to change view sizes - zoom in/out */
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    /* top left to right bottom */
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),url(../img/hero.jpg);
    background-size: cover;
    /* top part of the picture stays the same when screen changes */
    background-position:top;
    /* imagine finding coordinates of the header */
    /* top left corner, top right corner  bottom right corner bottom left corner*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position:relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    /* referencing header */
    position:absolute;
    top:40%;
    left:50%;
    /* translate refers to the element */
    transform:translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform:uppercase;
    /* fixing shaky on animation */
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main{
    /* block elements takes over 100% of width */
    display:block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* for Keyframes */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;


    /*
    animation-delay: 3s;
    animation-iteration-count:3;
    */
}

.heading-primary--sub{
    display:block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* Short way */
    /* name, duration, timing-function */
    animation: moveInRight 1s ease-out;
    /*for Keyframes */

    /*
    animation-name: moveInRight;
    animation-duration: 1s;
    */
}


/* refers to animation name */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        /* animate in horizontal direction */
        transform: translateX(-10rem);
    }

    80% {
        transform:translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* refers to animation name */
@keyframes moveInRight {
    0% {
        opacity: 0;
        /* animate in horizontal direction */
        transform: translateX(10rem);
    }

    /* 60%{
        transform: rotate(120deg);
    } */

    80% {
        transform:translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* refers to animation name */
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* pseudo class */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration:none;
    padding: 1.5rem 4rem;
    /* to go below header-sub */
    display:inline-block;
    border-radius: 10rem;
    /* transition for btn to do translateY(-3px) */
    transition: all .2s;
    font-size: 1.6rem;
    position: relative;
}

.btn:hover{
    /* Y - negative goes up */
    transform:translateY(-.3rem);
    /* X Y blur color*/
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active{
    /* when clicked it will be at -1px */
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}

.btn--white{
    background-color: $color-white;
    color: $color-grey-dark;
}

.btn::after{
    content: "";
    /* most correspond to btn display */
    display: inline-block;
    /* setting same dimension as btn 100px */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* referencing btn:link */
    position: absolute;
    top: 0;
    left: 0;
    /* behind the button */
    z-index: -1;
    transition: all .4s;
}

.btn--white::after{
    background-color: $color-white;
}

/* targeting btn::after */
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    /* automatically applies 0% */
    animation-fill-mode: backwards;
}