body{
    margin:0;
    padding:0;
    text-decoration:none;
}

a {
    text-decoration:none;
}

.tech_container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid {
	position: relative;
	margin: 0 auto;
    width: 100%;
    height:auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width:100%;
	height: auto;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
    opacity: 0.8;
    outline: none;
    border: 0;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    outline: none;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.tech_box {
	background: #9e5406;
}

figure.tech_box img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.tech_box:hover img {
	opacity: 0.4;
}

figure.tech_box figcaption::before,
figure.tech_box figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.tech_box figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.tech_box figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.tech_box h2 {
	padding-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.tech_box p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.tech_box:hover figcaption::before,
figure.tech_box:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.tech_box:hover h2,
figure.tech_box:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


@media(max-width: 700px){
    .tech_container {
        grid-template-columns: 1fr;
    }

    figure.tech_box h2 {
        padding-top: 30%;
    }

    figure.tech_box p{
        opacity:1;
        padding: 10px 2.5em;
    }
}
/* 
    figure.tech_box figcaption{
        opacity:1;
        -webkit-transform: scale(1);
        transform: scale(1);
        pointer-events:none;
    }


    html.figure.tech_box:hover{
        pointer-events:none !important;
    } */
