/* ------------------------- */


/* About - Mission  */


/* --------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: 'Alegreya Sans';
    /* background-color: #e9ece5 */
}

/* about - beginning */

.intro{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../img/about/pound_it.jpg');
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    height: 60vh;
    width: 100vw;
    color: white;
    text-transform:uppercase;
    position:relative;
}

.content{
    position:absolute;
    top:50%;
    left:20%;
    transform: translate(-20%, -50%);
    letter-spacing: .2em;
    font-size: 2.5em;
}


/* mission statement */

.grid>* {
    background: #3bbced;
    padding: 30px;
    text-align: center;
}

.grid {
    display: grid;
    margin: 0 auto;
    /* same as 1fr 1fr 1fr 1fr */
    grid-template-columns: repeat(4, 1fr);
    /* minimum row height is 100px, and resize depending on content inside the grid - auto */
    grid-auto-rows: minmax(200px, auto);
}


.mission_statement {
    grid-column: 1/3;
    grid-row: 1/3;
    background:#f1f1f1;
    text-align: left;
    font-weight:lighter;
    letter-spacing: .1em;
}

.mission{
    padding:2em;
}

.mission h3{
    font-size: 2.5em;
    margin-bottom: 1em;
}

.mission h4{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.mission p{
    margin-bottom: 3em;
}

.mission a{
    text-transform: uppercase;
    color:black;
    border: 1px solid #00ffff;
    padding: .5em 1em;
}

.mission a:hover{
    background: #00ffff;
    color:white;
}

.pic1 {
    grid-column: 3/4;
    grid-row: 1/2;
    background: url("../img/about/mission1.jpeg");
    background-position:center;
    background-size:cover;
}

.word {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color:#5634D1;
}

.inner_text{
    position:relative;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    letter-spacing: .1em;
    font-weight:lighter;
}

.inner_text h3{
    font-weight:300;
    font-size:1.2em;
}

.inner_text p{
    font-size: .7em;
}

.pic2 {
    grid-column: 4/5;
    grid-row: 1/2;
    background: url("../img/about/mission2.jpeg");
    background-position:center;
    background-size:cover;
}

.pic3 {
    grid-column: 4/5;
    grid-row: 2/3;
    background: url("../img/about/mission3.jpeg");
    background-position:center;
    background-size:cover;
}


/* ------------------------- */
/* About - Products  */
/* --------------------------*/

.grid2 {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    background: #3bbced;
    text-align: center;
}

.bike{
    grid-column:1/2;
    background: url("../img/about/work1.jpg");
    background-position:center;
    background-size:cover;
}


.essentials{
    grid-column:2/3;
    background: url("../img/about/work2.jpg");
    background-position:center;
    background-size:cover;
}

.repair{
    grid-column:3/4;
    background: url("../img/about/work3.jpg");
    background-position:center;
    background-size:cover;
}

/* ------------------------- */
/* About - Team  */
/* --------------------------*/

.meet {
    grid-column: 1/3;
    background: #5634D1;
    color: white;
}

.pic4 {
    grid-column: 3/4;
    background: url("../img/about/profile/profile1.jpg");
    background-position:center;
    background-size:cover;
}

.pic5 {
    grid-column: 4/5;
    background: url("../img/about/profile/profile8.jpg");
    background-position:center;
    background-size:cover;
}

.pic6 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: url("../img/about/profile/profile2.jpg");
    background-position:center;
    background-size:cover;
}

.pic7 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: url("../img/about/profile/profile7.jpg");
    background-position:center;
    background-size:cover;
}

.pic8 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url("../img/about/profile/profile6.jpg");
    background-position:center;
    background-size:cover;
}

.join {
    grid-column: 4/5;
    grid-row: 2/3;
    background: #5634D1;
    color:white;
}


/* ------------------------- */
/* About - Contact  */
/* --------------------------*/

.info{
    grid-column:1/3;
    grid-row:1/3;
    background:#323846;
    color:white;
}

.submission{
    grid-column:3/5;
    grid-row:1/3;
    background:#f1f1f1;
    color:black;
}

/* ------------------------- */
/* About End  */
/* --------------------------*/

.cover2{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../img/about/last.jpg');
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    height: 75vh;
    width: 100vw;
    color: white;
    text-transform:uppercase; 
}



@media(max-width:700px){
    .grid,
    .grid2{
        grid-template-columns: 1fr 1fr;
    }

    .intro{
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../img/about/vertical_about.jpg');
        background-position:center;
        background-attachment:fixed;
        background-size:cover;
    }
    .content{
        font-size:1.5em;
    }
    
    .mission_statement,
    .info{
        grid-row:1/3;
    }

    .mission{
        padding-left:0;
    }

    .mission h3{
        font-size:2em;
    }

    .mission h4{
        font-size:1em;
    }

    .inner_text h3{
        font-size:1em;
        margin-bottom:1em;
    }

    .mission_statement,
    .bike,
    .essentials,
    .repair,
    .meet,
    .info,
    .submission{
        grid-column:1/3;
    }

    .bike,
    .meet{
        grid-row:1/2;
    }
    
    .essentials,
    .pic4,
    .pic5{
        grid-row:2/3;
    }

    .pic1,
    .pic2,
    .repair,
    .pic7,
    .pic6{
        grid-row:3/4;
    }

    .pic1,
    .word,
    .pic8,
    .pic6,
    .pic4{
        grid-column:1/2;
    }

    .pic2,
    .pic3,
    .join,
    .pic7,
    .pic5{
        grid-column:2/3;
    }

    .word,
    .pic3,
    .pic8,
    .join{
        grid-row:4/5;
    }

    .submission{
        grid-row:3/5;
    }
}